form {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

header {
  width: 100%;
}

h1 {
  color: turquoise;
}

.reservation-button {
  border: 2px solid #fff;
  background-color: turquoise;
}
